.genre-view {
  color: #fff;
  background: #3244a8;
  align-items: center;
  padding: 50px;
  height: 100vh;
}

.genre-view-button {
  margin-right: 10px;
  font-size: 18px !important;
  text-align: left !important;
}

.genre-name {
  font-size: 35px;
  font-family: Roboto;
  font-weight: 700;
  margin-top: 50px;
}

.genre-description {
  font-size: 20px;
  margin-bottom: 10px;
}
