.registrationForm {
  margin: auto;
  width: 310px;
  min-height: 450px;
  align-content: center;
  margin-top: 150px;
  font-size: 25px;
  padding: 50px;
  color: #fff;
  background: #3f51b5;
  border-radius: 6px;
}

h1 {
  padding-bottom: 30px;
  text-align: center;
}

.reg-text {
  font-size: 13px;
  margin-top: 25px;
  margin-right: 12px;
}

.reg-signup {
  font-size: 13px;
  color: lime;
}

.reg-signup:hover {
  cursor: pointer;
}

#reg-btn-color {
  background: #3244a8;
  font-size: 15px;
  margin-right: 10px;
  border: none;
  width: 100%;
  text-transform: uppercase;
  box-shadow: none;
}

#reg-btn-color:hover {
  box-shadow: 1px 1px 3px #202b69;
}
