
.first-header {
  color: 000;
  font-size: 60px;
  font-family: Roboto;
  padding: 20px;
  text-align: center;
}

.middle-header {
  color: green;
  font-family: Roboto;
  text-align: center;
}

.final-header {
  color: green;
  font-family: Roboto;
  text-align: center;
}

#btn-update-my-account {
  color: #fff;  
  font-size: 16px;
  margin-right: 10px;
  font-weight: 600;
}

#btn-delete-my-account {
  color: #fff;  
  font-size: 16px;
  font-weight: 600;
}

.favorite-movies-header {
  color: goldenrod;
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px; 
  margin-top: 20px;
}

.profile-change {
  color: #000;
  text-align: center;
  font-size: 33px;
  color: goldenrod;
  margin-top: 20px;
  margin-bottom: 25px;
}