.profile-card {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 100px;
}

#btn-update-my-account {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}

#btn-delete-my-account {
  color: #fff;
  font-size: 16px;
}

.favorite-movies-title {
  color: #3244a8;
  margin-top: 80px;
  text-align: center;
}

.profile-title {
  color: #3244a8;
}
