.movie-poster {
margin-bottom: 25px;
}

.movie-title {
  font-size: 35px;
  font-weight: bold;
}

.movie-director .value {
  font-size: 20px;
}

.movie-description {
  margin-left: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

.movie-genre {
  margin-bottom: 40px;
  font-size: 20px;
}

.label {
  font-size: 20px;
}
