.movie-view {
  margin-bottom: 100px;
  width: 100%;
  background: lightgray;
  padding: 75px;
}

.movie-poster {
  height: 450px;
  margin-top: 20px;
}

.movie-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #8b0000;
}

.movie-description {
  margin-left: 0;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: justify;
}

.movie-director {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: bold;
}

.movie-genre {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
}