.movie-view {
  margin-bottom: 100px;
  width: 100%;
  color: #fff;
  background: #3f51b5;
  padding: 120px;
}

.movie-view-button {
  margin-right: 10px;
  padding: 14px 55px !important;
  font-size: 18px !important;
}

.movie-poster {
  height: 450px;
  margin-top: 20px;
}

.movie-title {
  font-size: 1rem;
  text-align: center;
  color: #3f51b5;
}

.movie-description {
  margin-left: 0;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: justify;
}

.movie-director {
  margin-bottom: 40px;
  font-size: 2rem;
}

.movie-genre {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
